body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #eef2f3;
}

header {
    background-color: #890909;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 30px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

button, input[type="submit"] {
    padding: 10px 15px;
    background-color: #a01628;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #540606;
}
